@model IEnumerable<RingAssigment.Models.Ring>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var ring in Model)
    {
        <p>@ring.RingNumber</p>
        <p>@ring.Rank</p>
    }
</div>
